@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500&display=swap');


/***********************
     GENERAL RULES 
***********************/

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;

}

.container-center {
    width: 70%;
    margin: 0 auto;
}

.row::after, .clearfix {
    content: "";
    display: table;
    clear: both;
}

.full {
    width: 100%;
    text-align: center;
}

a {
    color: #0789f3;
    font-weight: 600;
}

a.btn {
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin: 10px 0;
}

a.btn:hover {
    text-decoration: underline;
}

a.btn.full {
    margin: 20px 0;
}

a.next-section i {
    font-size: 40px;
    color: #081753;
}

a.next-section:hover {
    opacity: 0.5;

}

.title {
    margin: auto;
}

label {
    font-size: 16px;
    cursor: pointer;
    font-family: Arial;
}

input[type='radio'] {
    margin-left: 10px;
    cursor: pointer;
}

i[class^="fa"]{
    margin-right: 8px;
}

/***********************
     SECTIONS RULES 
***********************/


header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    line-height: 70px;
    padding: 0 20px;
    background-color: white;
    box-shadow: 2px 1px 2px #ddd;
    border-bottom: 1px solid #ddd;
    z-index: 999;
}

header a.btn {
    display: inline;
    margin: 0;
}

#nav-left, .logo {
    float: left;
    
}

.logo img {
    vertical-align: middle;
}

#nav-right, #start {
    float: right;
}

#main-nav {
    display: block;
}

#main-nav ul {
    list-style: none;
    padding: 0 30px;
}

#main-nav ul li {
    display: inline-block;
    margin: 0 10px;
}

#main-nav li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: block;
    height: 70px;
}

#main-nav li a:hover {
    color: #0061ff;
    border-bottom: 2px solid #014bc4;
    /* padding: 0 2px; */  /* dà un effetto movimento */
}


section {
    padding-top: 80px;
    font-family: Arial;
}

section h2 {
    font-size: 70px;
    margin-bottom: 40px;
}

section h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

section h4 {
    font-size: 26px;
    margin-bottom: 20px;
}

section h5 {
    font-size: 16px;
    margin-bottom: 10px;
}

section p {
    font-size: 14px;
    margin: 0 0 20px 0;
    line-height: 1.6;
    font-size: 14px;
}

section .col {
    margin-top: 40px;
}


section#jumbotron {
    background-color: #b4d0e7;
    position: relative;
    top: 70px;
}

section#jumbotron .container-center {
    width: 80%;
}

section#jumbotron h2 {
    padding: 0;
}

section#jumbotron img {
    width: 100%;
}

#jumbotron .col-left  {
    float: left;
    width: 30%;
}

#jumbotron .col-right  {
    float: right;
    width: 65%;
}

#jumbotron .row {
    position: relative;
    top: 80px;
}

.outer::after {
    content: "";
    display: block;
    margin-bottom: 160px;
}


.plans-wrapper {
    margin-top: 40px;
}

.col-1-third {
    width: calc((100% - 10%) / 3);
    min-width: 300px;
    display: inline-block;
    vertical-align: top;
}

/* gives internal margins only among cols of same type */
.col-1-third + .col-1-third {
    margin-left: calc(5% - 5px); /* -5px: removes default inline-block margins */
}

.col-2-third {
    width: 63%;
    height: 200px;
    background: yellow;
    display: inline-block;
}

.plan .col-2-third {
    text-align: left;
    padding: 40px;

}



.col-th, .col-body {
    display: block;
    border: 1px solid #ccc;
    padding: 10px 30px;
}

.col-th {
    text-align: center;
    width: 100%;
}

.plan {
    height: 1000px;
    display: inline-block;
}

.plan-main-info ul {
    list-style: none;
    padding: 0px;
}

.plan li {
    margin: 20px 0;
}

.plan-main-top-info {
    margin-bottom: 40px;
}

.plan-main-bottom-info {
    margin-top: 80px; /* ricorda: collasso dei margini */
}


/* h2-3-4-5-6, p and other text-block elements */
.plan-main-top-info li > * {
    margin: 0;
}

.plan-main-top-info li {
    margin: 5px;
}

:not(.full).plan .col-body {
    min-height: 960px;
}

.plan .col-body > div {
    padding: 30px 0;
}


/* linea di separazione tra main-info ed extra-info */
.plan-main-info::after {
    content:"";
    display: block;
    border-bottom: 1px solid #ccc;
    width: 20%;
}

.plan-extra-info li i {
    color: #0061ff;
}

